apiVersion: v1
kind: Service
metadata:
  name: proxy-service
  namespace: honeynet
spec:
  type: LoadBalancer
  selector:
    app: proxy
  ports:
    - name: http
      port: 80
      targetPort: 80
    - name: https
      port: 443
      targetPort: 443
    - name: ftps
      port: 990
      targetPort: 990